@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

body {
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}

.card {
    max-width: 440px;
    margin: 0 auto;
    box-shadow: 0px 0px 38px 5px hsl(220, 15%, 55%);
    border-radius: 12px;
}

.card .img-princ{
    border-radius: 12px 12px 0 0;
    max-width: 440px;
}

.conteudo-card {
    background-color: white;
    padding: 3rem;
}

.titulo-box {
    text-align: center;
}

.titulo {
    color: hsl(223, 47%, 23%);
    margin: 0.8rem;
    font-size: 28px;
    font-weight: 800;
}

.paragrafo-01 {
    margin-bottom: 1rem;
    padding: 1rem;;
    font-size: 15px;
    color: hsl(224, 23%, 55%);
    line-height: 1.5;
}

.info-plano-01 {
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: hsl(225, 100%, 98%);
    margin-bottom: 1.5rem;
    padding: 1rem;
    border-radius: 10px;
}

.info-plano-02 {
    display: flex;
    justify-content: space-around;
}

.titulo-01 {
    color: hsl(223, 47%, 23%);
    font-weight: 800;
    margin-bottom: 0.5rem;
}

.botoes {
    display: flex;
    flex-direction: column;
}

.proceed {
    margin-bottom: 0.5rem;
}




